@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
	--box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

* {
	box-sizing: border-box;
}

body {
	background-color: #f7f7f7;
	margin: 0;
	font-family: 'Lato', sans-serif;
}

h1 {
	letter-spacing: 1px;
	margin: 0;
	text-align: center;
}

h2 {
	text-align: center;
}

h3 {
	border-bottom: 1px solid #bbb;
	padding-bottom: 10px;
	margin: 40px 0 10px;
	text-align: center;
}

h4 {
	margin: 0;
	text-transform: uppercase;
	padding-left: 15px;
	padding-right: 15px;
}

#balance {
	text-align: center;
	grid-area: balTitle;
}

.transAmount {
	width: 15%;
	text-align: right;
}

.notes {
	width: 75%;
	text-align: center;
}

.transDate {
	width: 15%;
	text-align: left;
}

.toggleCol {
	width: 10%;
	text-align: left;
}

.categoryDiv {
	margin-left: 20px;
	/* position: absolute; */
	font-size: .8em;
	font-weight: bold;
	color: green;
	padding-top: 2px;
}

.inc-exp-container {
	background-color: #fff;
	box-shadow: var(--box-shadow);
	padding: 20px;
	display: flex;
	justify-content: space-between;
	margin: 20px 0;
}

.inc-exp-container > div {
	flex: 1;
	text-align: center;
}

.inc-exp-container > div:first-of-type {
	border-right: 1px solid #dedede;
}

.money {
	font-size: 1.4em;
	letter-spacing: 1px;
	margin: 5px 0;
	padding-left: 10px;
	padding-right: 10px;
}

.money.plus {
	color: #2ecc71;
}

.money.minus {
	color: #c0392b;
}

label {
	display: inline-block;
	margin: 10px 0;
}

input[type='text'],
input[type='number'],
select {
	border: 1px solid #dedede;
	border-radius: 2px;
	display: block;
	font-size: 1em;
	padding: 10px;
	width: 100%;
}

.btn {
	cursor: pointer;
	box-shadow: var(--box-shadow);
	color: #fff;
	border: 0;
	display: block;
	font-size: 1.2rem;
	margin: 10px 0 30px;
	padding: 10px;
	width: 100%;
	background-color: #3bcacf;
}

.toggleBtn {
	cursor: pointer;
	box-shadow: var(--box-shadow);
	border: 0;
	display: block;
	font-size: 1rem;
	padding: 0 10px;
	margin-right: 10px;
}

.disabled {
	background-color: #a7a6ad;
}

.btn:focus,
.switch-btn:focus {
	outline: 0;
}

.list {
	list-style-type: none;
	padding: 0;
	margin-bottom: 40px;
	font-size: 1.2rem;
}

.list li {
	background-color: #fff;
	box-shadow: var(--box-shadow);
	color: #333;
	display: flex;
	justify-content: space-between;
	position: relative;
	padding: 10px;
	margin: 10px 0;
}

.list li.plus {
	border-right: 5px solid #2ecc71;
}

.list li.minus {
	border-right: 5px solid #c0392b;
}

.switch-btn {
	cursor: pointer;
	border: 0;
	color: #fff;
	font-size: .7rem;
	line-height: 15px;
	padding: 0 5px;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(-100%, -50%);
	opacity: 0;
	transition: opacity 0.3s ease;
	width: 55px;
	writing-mode: vertical-rl;
	text-orientation: upright;
}

.switch-pos {
	background-color: #2dc96e;
}

.switch-neg {
	background-color: #e74c3c;
}

.list li:hover .switch-btn {
	opacity: 1;
}

#catTitle {
	grid-area: catTitle;
}

#addTitle {
	grid-area: addTitle;
}

.restCat {
	grid-area: restCat;
}

#restTrans {
	grid-area: restTrans;
}
#balance {
	grid-area: bal;
}

#total {
	grid-area: tot;
}

.inc-exp-container {
	grid-area: incExpContainer;
}

#history {
	grid-area: hist;
}

#transList {
	grid-area: tList;
	margin: 0 55px;
}

.container {
	margin: 10px auto;
	display: grid;
	height: 100vh;
	width: 90vw;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: .4fr 1fr .4fr .7fr 1fr .5fr 3fr;
	grid-template-areas: "catTitle catTitle addTitle addTitle" "restCat restCat restTrans restTrans" "bal bal bal bal"
		"tot tot tot tot" ". incExpContainer incExpContainer ." "hist hist hist hist" "tList tList tList tList";
	grid-gap: 0.5rem;
}

@media only screen and (max-width: 800px) {
	.container {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-areas: "catTitle" "restCat" "bal" "tot" "incExpContainer" "addTitle" "restTrans" "hist" "tList";
	}

	h3 {
		text-align: left;
	}

	.list {
		font-size: .8rem;
	}
}

@media only screen and (max-width: 769px) {
	.toggleDiv {
		width: 10%;
	}

	.transDate {
		width: 10%;
		text-align: center;
	}

	.notes {
		width: 65%;
	}

	.transAmount {
		width: 15%;
	}

	#transList {
		margin: 0 0;
		font-size: .8rem;
	}
}

@media only screen and (max-width: 430px) {
	.transDate {
		display: none;
	}

	#transList {
		font-size: .7rem;
	}
}
